.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(175, 216, 248);
}

.node:hover {
    background-color: slategray;
    opacity: 50%;
}

.visited-node {
    animation: visitAnimation 1.25s;
    background-color: rgb(64, 169, 230)
}

.start-node {
    background-color: rgb(47, 201, 142);
}

.end-node {
    background-color: rgb(241, 116, 58);
}

.wall-node {
    background-color: rgb(97, 60, 197);
}

@keyframes visitAnimation {
    50% {background-color: rgb(47, 201, 142)}
    100% {background-color: rgb(64, 169, 230)}
}