button {
    margin-right:10px;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 5vh;
}

.gridRow {
    display: flex;
    flex-direction: row;
}

.gridCol {
    display: flex;
    flex-direction: column;
}

.dropdown-toggle{
    color: black !important;
    background-color: white !important;
    border-color: white !important;
}

.dropdown-toggle:hover{
    background-color: rgb(226, 226, 226) !important;
    border-color: rgb(226, 226, 226) !important;
}

.alert-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.container{
    width: 100%;
}